
.PruebadivIzq {

  float:left; 
  width:15%;
  margin-bottom: 10px;
  margin-top: 50px;
  
}

.PruebadivMid {
  
  float:left; 
  padding: 0px;
  width:60%;

}

.PruebadivDer {

  float:left; 
 width:15%;
  margin-bottom: 10px;
  margin-top: 50px;
}