@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto);
body{

  word-wrap: break-word;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
@page { 

  word-wrap: break-word;
  size: auto;/* es el valor por defecto */
  margin: 5%;
}
div.preguntas{
}
div.pregunta h4, div.pregunta p{

   margin-left: 20px;
}
div.pregunta br{
   margin-left: 20px;
  margin-bottom: 12px;
}
div.solucion{
  page-break-before: always;
}