@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@page { 
  size: auto;/* es el valor por defecto */
  margin: 5%;
}
div.preguntas{
  line-height:0%
}
div.pregunta h4, div.pregunta p{
   line-height:30%;
   margin-left: 20px;
}
div.pregunta br{
   margin-left: 20px;
  margin-bottom: 12px;
}
div.solucion{
  page-break-before: always;
}